build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
    docker build -f voter/Dockerfile -t voter:$GIT_COMMIT_ID voter 
    docker tag voter:$GIT_COMMIT_ID  voter:$ROOST_NAMESPACE  
    docker build -f voter/Dockerfile -t voter:$GIT_COMMIT_ID voter 
    docker tag voter:$GIT_COMMIT_ID  voter:$ROOST_NAMESPACE  
    docker build -f service-test-suite/Dockerfile -t service-test-suite:$GIT_COMMIT_ID service-test-suite 
    docker tag service-test-suite:$GIT_COMMIT_ID  service-test-suite:$ROOST_NAMESPACE  
    docker build -f service-test-suite/Dockerfile -t service-test-suite:$GIT_COMMIT_ID service-test-suite 
    docker tag service-test-suite:$GIT_COMMIT_ID  service-test-suite:$ROOST_NAMESPACE  
    cd ./ && make
deploy:
  type: text
  content: |2
     #/bin/sh


    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm upgrade test-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
     
     docker-compose -f voter/voter.yaml up -d
    HELM_OPTS=""
    helm upgrade demoapp-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS

    kubectl apply -n $ROOST_NAMESPACE -f voter/voter.yaml

    kubectl apply -n $ROOST_NAMESPACE -f voter/ingress.yaml
test:
  - name: voter
    configType: artillery
    configPath: voter/ingress.yaml
  - name: service-test-suite
    configType: cypress
    configPath: service-test-suite/voter
  - name: voter
    configType: cypress
    configPath: service-test-suite/voter
uninstall:
  type: None
  content: ''
dockerCompose: voter/voter.yaml
lastUpdatedBy: Sakshi Parasar
lastUpdatedOn: 2023-02-24T06:08:41.304Z
